<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bad Idea Metals</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href="card.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-EW1GV1TJG5"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-EW1GV1TJG5');
	</script>

	<!-- adsense -->
	<script async src=“https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8810986050616072” crossorigin=“anonymous”></script>
</head>

<body style="color:#fff;" class="main_background_color">
<div class="main-container">
    <div class="main-container-wrapper">
        <div id="content">
            <div id="header">
            	<div class="custom-nav-row nav-normal-view">
        			<a href="/">
				        <div class="col-xs-2">
				            <img src="/static/imgs/white_logo.png" class="main_logo_img center-image">
				        </div>
				        <div class="col-xs-4">
			        	    <div class="nav-main-link" style="padding-top:70px;">
								<div style="font-size:40px;">Bad Idea Metals</div>
								<div style="font-size:16px;">eWaste and Recycling, LLC</div>
							</div>
				        </div>
			        </a>
			        <div class="col-xs-6"></div>
    			</div>
            </div>
            <div class="campus-store-listing content-padding">
	            <div class="container-fluid">
					<div class="row">
						<div class="col-xs-12">
							<div class="row pad50">
								<div class="center-text">
									<H1>Why Recycle E-Waste Vs Landfill?</H1>
									<div class="row">
										<div class="col-xs-1"></div>
										<div class="col-xs-10" style="font-size:18px;text-align:justify">
											<p style="padding-top:10px;">
												<img src="/static/imgs/cpu_goldbond.jpg" style="width:215px;float:left;padding:0px 10px 00px 0px;"/>
												Electronics waste, commonly known as e-scrap or e-waste, is the trash we generate
												from surplus, broken, and obsolete electronic devices. Electronics contains various
												toxic and hazardous chemicals and materials that are released into the environment if
												we do not dispose of them properly. E-waste or electronics recycling is the
												process of recovering material from old devices to use in new products.
											</p>
											<p style="padding-top:10px;">
												The electronic devices that surround you on a daily basis are built with many
												components that contain precious metals such as gold, silver, copper, and palladium.
												<img src="/static/imgs/DEC.jpg" style="width:360px;float:right;padding:0px 0px 0px 10px;"/>
												From cell phones to modems and computers, old electronics are finding a new lease on
												life in the electronics recycling marketplace.
											</p>
											<p style="padding-top:10px;">
												Some states such as California, New York, Utah, Michigan, Texas,
												and others, have passed e-waste laws and legislation.
												The laws passed at the state level often include policies that
												define where take back or recycling programs are required.  Other commonly defined
												policies include a list of e-waste restrictions and fines
												imposed for units found in landfill or abandoned.
											</p>
										</div>
										<div class="col-xs-1"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="center-text">
								<H1>What Is Accepted?</H1>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-5">
										<div style="font-size:21px; font-weight:bold;">E-Waste</div>
										<div class="text-left box-border-dashes pad50" style="font-size:20px;">
											<ul style="list-style-image: url('/static/imgs/Side-V-LI.gif');">
												<li>Computers</li>
												<li>Cell Phones</li>
												<li>Tablets</li>
												<li>Circuit Boards <br/>(RAM / MotherBoards / PCI / Other)</li>
												<li>Monitors</li>
												<li>Network Devices</li>
												<li>Batteries<br/>(Lead Acid / Li-ion / LiFePO4) </li>
												<li>Gameing Systems</li>
												<li>Cables & Cords</li>
												<li>Printers</li>
												<li>Video Players <br/>(DVD / VCR / BluRay)</li>
												<li>TVs (CRT / LCD / Plasma / Projectors)</li>
												<li>Disk Drives <br/>(Hard Drives, CD / DVD)</li>
												<li>Full List ...</li>
											</ul>
										</div>
									</div>
									<div class="col-xs-5">
										<div style="font-size:21px; font-weight:bold;">Other Metals</div>
										<div class="text-left box-border-dashes pad50" style="font-size:20px;">
											<ul style="list-style-image: url('/static/imgs/Side-V-LI.gif');">
												<li>Vacuums</li>
												<li>Blenders</li>
												<li>Tabletop Burners</li>
												<li>Food Processors</li>
												<li>Small Electric Motors</li>
												<li>Automotive Parts</li>
												<li>Stereos</li>
												<li>Vehicle Batteries</li>
												<li>Electrical Wires</li>
												<li>Extension and Power Cords</li>
												<li>Rain Gutters</li>
												<li>Building Exterior Siding</li>
												<li>Pipes</li>
												<li>Power Tools</li>
												<li>Shelves / Buckets / Containers</li>
												<li>Aluminum Cans</li>
												<li>Screws / Nuts / Bolts</li>
												<li>Light Fixtures</li>
												<li>Full List ...</li>
											</ul>
										</div>
									</div>
									<div class="col-xs-1"></div>
								</div>
								<div class="row pad50">
									<div class="col-xs-3"></div>
									<div class="col-xs-6">
										<div style="font-size:21px; font-weight:bold;">Not Accepted</div>
										<div class="text-left box-border-dashes pad50" style="font-size:20px;">
											<ul style="list-style-image: url('/static/imgs/Side-V-LI.gif');">
												<li>Full Cars</li>
												<li>Refrigerators</li>
												<li>Freezers</li>
												<li>Washing Machines</li>
												<li>Dryers</li>
												<li>Dish Washers</li>
												<li>Radioactive Waste</li>
												<li>Toxic Waste</li>
												<li>No General Waste<br/>(Food or Kitchen Waste)</li>
												<li>If you have questions: <br/>see: <a href="/contact">Contact Information</a></li>
											</ul>
										</div>
									</div>
									<div class="col-xs-3"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="row pad50">
								<div class="center-text">
									<H1>Where Do I Take Stuff?</H1>
									<div class="row">
										<div class="col-xs-1"></div>
										<div class="col-xs-10" style="font-size:18px;text-align:justify">
											<p style="padding-top:10px;">
												Bad Idea Metals does not have a formal drop-off location or a ship-to
												address for freight and large deliveries.  Drop-off, picks-up, and mail-to
												requests need to be planned and scheduled.  Please reach out to
												schedule a pick up or drop off day and time. <a href="/schedule" target="_blank">Schedule a Pickup or Dropoff.</a>
											</p>
											<p style="padding-top:10px;">
												Is there a charge for a scheduled local pickup?  Usually not.  It depends on the size of the load,
												and how much of it will need specialized handling or disposal.  See
												<a href="/pricing" >pricing</a> for more details on extra cost services.
											</p>
										</div>
										<div class="col-xs-1"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row pad50"></div>
				</div>
			</div>
            <div id="footer">
				<div class="white-text center-text">Bad Idea Metals, eWaste and Recycling, LLC - © 2021</div>
				<div class="white-text text-right"><a href="/rnotes">v.{{version}}</a></div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
